@keyframes rainbow {
    0% {color: #FF000000;}
    20% {color: orange}
    40% {color: yellow}
    60% {color: green}
    80% {color: blue}
    100% {color: violet}
  }

.shiny-text:hover{
    animation: rainbow 3s infinite;
}

/* -------------------------------------------------------------------------------------- */

/* export const Container = styled.div`
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 678px;
  max-width: 100%;
  min-height: 400px;
`;

export const SignUpContainer = styled.div`
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0; --> placed on left half of the screen, but with no opacity and lowest layer
  width: 50%;
  opacity: 0;
  z-index: 1;
  ${props =>
    props.signingIn !== true --> when on Signup 
      ? `
  transform: translateX(100%); --> shift to right
	opacity: 1; --> make opaque and appear
	z-index: 5;
	`
      : null}
`;

//default visible
export const SignInContainer = styled.div`
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0; --> left half of screen
  width: 50%;
  z-index: 2; --> higher layer (can be seen by default)
  ${props => (props.signingIn !== true ? --> when on signing up
  `transform: translateX(100%);` --> shift right 
  : null)}
`;

export const OverlayContainer = styled.div`
  position: absolute;
  top: 0;
  left: 50%; --> default put on right?
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100; --> highest layer (most visible)
  ${props =>
    props.signingIn !== true ? --> on signing up
    `transform: translateX(-100%);` --> shift left
    : null}
`;

export const Overlay = styled.div` --> contains the orange background 
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;

  position: relative;
  left: -100%; //shifts 100% of PARENT WDITh which is 50% ot the left
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  ${props => (props.signingIn !== true --> when on Sign Up
  ? `transform: translateX(50%);` : null)}
`;

export const OverlayPanel = styled.div`
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0; 
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
`;

export const LeftOverlayPanel = styled(OverlayPanel)`
  transform: translateX(-20%);
  ${props => (props.signingIn !== true ? `transform: translateX(0);` : null)}
`;

export const RightOverlayPanel = styled(OverlayPanel)`
  right: 0;
  transform: translateX(0);
  ${props => (props.signingIn !== true ? `transform: translateX(20%);` : null)}
`;


*/
