@keyframes wave{
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}

.rainbow-wave span{
    display: inline-block;
    animation: wave 1s ease-in-out 3;
    cursor: pointer;
}

.rainbow-wave span:nth-child(1) {animation-delay:0s}
.rainbow-wave span:nth-child(2) {animation-delay:0.1s}
.rainbow-wave span:nth-child(3) {animation-delay:0.2s}
.rainbow-wave span:nth-child(4) {animation-delay:0.3s}
.rainbow-wave span:nth-child(5) {animation-delay:0.4s}
.rainbow-wave span:nth-child(6) {animation-delay:0.5s}
.rainbow-wave span:nth-child(7) {animation-delay:0.6s}
.rainbow-wave span:nth-child(8) {animation-delay:0.7s}
.rainbow-wave span:nth-child(9) {animation-delay:0.8s}
.rainbow-wave span:nth-child(10) {animation-delay:0.9s}
