.flip-card-inner{
    transition: transform 0.6;
    transform-style: preserve-3d;
}

.flip-card.front,
.flip-card.back{
    position:absolute;  
    backface-visibility: hidden;
}

.flip-card-back{
    transform: rotateY('180deg')
}