p{
  line-height: 1;
  margin: 5px;
}

.player-details{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.player-frame{
  height: 100%;
  width: 20%;
}

.player-stats{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.player-picture{
  height: 40%;
  width: 70%;
  margin: 20% 0% 0% 15%;
}

.player-summary{
  height: 30%;
  width: 70%;
  background-color: #faebee;
  margin: 2% 0% 0% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.pfp{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stats-tracker{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.stats-bars{
  height: 35%;
  border: 1px solid pink;
}

.damage-log{
  height: 65%;
  background-color: white;
  overflow: scroll;
}

.third-box{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.day-tracker{
  height: 50%;
}

.split-bottom{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.damage-counter{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-weight: 500;
  border-right: 1px solid black;
}

.dmg-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.physical-dmg{
  height: 100%;
  width: 50%;
}

.san-dmg{
  height: 100%;
  width: 50%;
}

.change-bar{
  width: 100%;
  height: 60%;
  border-radius: 3%;
  background-color: #F8BDD1;
  margin-top: 5%;
  display: flex;
  flex-direction: row;

}

.specific-change{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 500;
}

.specific-change:hover{
  background-color: #BDF8E4;
  cursor: pointer;
}

.monster-selection{
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center

}

