p{
  line-height: 1;
  margin: 5px;
}

.overview-frame{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.player-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.player-frame{
  height: 100%;
  width: 20%;
}

.player-stats{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.player-picture{
  height: 40%;
  width: 70%;
  margin: 20% 0% 0% 15%;
}

.player-summary{
  height: 30%;
  width: 70%;
  background-color: #faebee;
  margin: 2% 0% 0% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.pfp{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stats-tracker{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.stats-bars{
  height: 35%;
  border: 1px solid pink;
}

.damage-log{
  height: 65%;
  background-color: white;
  overflow: scroll;
}

.third-box{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.day-tracker{
  height: 45%;
}

.monster-selection{
  width: 100%;
  height: 55%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 0;
}

.monster-container{
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.monster{
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.monster:hover{
  cursor: pointer;
}

.stat-bar{
  background-color: white;
  margin: 2%; 
  border-radius: 5px;
}

.hp-bar-fill{
  background-color: crimson;
  border-radius: 5px;
}

.sp-bar-fill{
  background-color: blue;
  border-radius: 5px;
}



