.colorpicker .react-colorful {
    height: 100%;
    width: 100%;
  }
  .your-component .react-colorful__saturation {
    border-radius: 4px 4px 0 0;
  }
  .your-component .react-colorful__hue {
    height: 40px;
    border-radius: 0 0 4px 4px;
  }
  .colorpicker .react-colorful__hue-pointer {
    width: 12px;
    height: inherit;
    border-radius: 0;
  }