@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Silkscreen', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.silkscreen{
  font-family: 'Silkscreen', serif;
}

@font-face {
  font-family: 'tiny5';
  src: url('./../public/fonts/Tiny5-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'FunnelSans';
  src: url('../public/fonts/FunnelSans-VariableFont_wght.ttf')
  format('truetype');
}

@font-face{
  font-family: 'GrapeNuts';
  src: url('../public/fonts/GrapeNuts-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'ReenieBeanie';
  src: url('../public/fonts/ReenieBeanie-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'PatrickHand';
  src: url('../public/fonts/PatrickHand-Regular.ttf')
  format('truetype');
}






