html, body, #app, #app>div {
    height: 100%
  }

.container{
    background-image: url("background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .header{
    font-size: 2rem;
    line-height: 1;
  }